<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header"></div>
    <title>Ordre oversigt</title>
</head>
<body>
<div th:replace="/fragments/navbar"></div>

<div class="container">
    <br>
    <h1>Her kan du se dine ordre</h1><br>
    <table class="table table-bordered table-hover" data-toggle="table" data-search="true">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dato</th>
            <th scope="col">Beløb</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.order_id}"></td>
            <td th:text="${order.dateTime}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td>
                <a th:href="@{'/detaljer/ordre/' + ${order.order_id}}"><button type="button" class="btn btn-success">Detaljer</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/bottom"></div>
</body>
</html>