<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand px-4" href="#">TRSS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active px-4" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-4" href="/produkter/oversigt">Produkter</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Produkter
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/produkter?category=Overvågningskamera">Overvågningskamera</a></li>
                        <li><a class="dropdown-item" href="/produkter?category=Overvågningspakke">Overvågningspakke</a></li>
                        <li><a class="dropdown-item" href="/produkter?category=Alarm Panel">Alarm Panel</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-4" href="/kunder">Kunder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-4" href="/medarbejdere">Medarbejdere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-4" href="/ordre">Ordreliste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-4" href="/lager">Lager</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active px-5">
                    <!--<a class="nav-link" href="/logout" onclick="return confirm('Er du sikker på du vil logge ud?')"><button class="btn btn-danger navbar-btn">Log ud</button></a>-->
                    <a class="nav-link active" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>