<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header"></div>
    <title>Opret medarbejder</title>
</head>
<body>
<div th:replace="/fragments/navbar"></div>

<div class="container">
    <br>
    <h1>Opret ny medarbejder</h1>
    <br>
    <form action="/medarbejder/opret" method="post">
        <div class="form-group">
            <label for="fname"><b>Fornavn</b></label>
            <input type="text" class="form-control" id="fname" name="firstName" placeholder="Indtast fornavn på medarbejder">
        </div>
        <div class="form-group">
            <label for="lname"><b>Efternavn</b></label>
            <input type="text" class="form-control" id="lname" name="lastName" placeholder="Indtast efternavn på medarbejder">
        </div>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Indtast email på medarbejder">
        </div>
        <div class="form-group">
            <label for="phoneNumber"><b>Tlf. Nummer</b></label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Indtast telefonnummer på medarbejder">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Opret</button>
    </form>
</div>

</body>
</html>