<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header"></div>
    <title>Opret Kunde</title>
</head>
<body>
<div th:replace="/fragments/navbar"></div>

<div class="container">
    <br>
    <h1>Opret ny kunde</h1>
    <br>
    <form action="/kunde/opret" method="post">
        <div class="form-group">
            <label for="fname"><b>Fornavn</b></label>
            <input type="text" class="form-control" id="fname" name="firstName" placeholder="Indtast fornavn på kunde">
        </div>
        <div class="form-group">
            <label for="lname"><b>Efternavn</b></label>
            <input type="text" class="form-control" id="lname" name="lastName" placeholder="Indtast efternavn på kunde">
        </div>
        <div class="form-group">
            <label for="address"><b>Adresse</b></label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Indtast adresse på kunde">
        </div>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Indtast email på kunde">
        </div>
        <div class="form-group">
            <label for="phoneNumber"><b>Tlf. Nummer</b></label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Indtast telefonnummer på kunde">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Opret</button>
    </form>
</div>

</body>
</html>